
// rwd mixins ====================================================
@mixin lgDesktop{
    @media(max-width:1440px){
        @content
    }
};
@mixin smDesktop{
    @media(max-width:1200px){
        @content
    }
};

@mixin pad{
    @media(max-width:992px){
        @content
    }
};

@mixin landscapeMobile{
    @media(max-width:768px){
        @content
        
    }
};
@mixin portraitMobile{
    @media(max-width:576px){
        @content
    }
};
@mixin miniDevice{
    @media(max-width:320px){
        @content
    }
};

*,*::before,*::after{
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;;
    margin: 0;
    padding: 0;
}

h1,.h1{
    font-size: $h1;
    line-height: calc(48 / 40);
}
h2,.h2,.fs-2{
    font-size: $h2;
    line-height: calc(38.4 / 32);
}
h3,.h3,.fs-3{
    font-size: $h3;
    line-height: calc(33.6 / 28);

}
h4,.h4,.fs-4{
    font-size: $h4;
    line-height: calc(28.8 / 24);

}
h5,.h5,.fs-5{
    font-size: $h5;
    line-height: calc(24 / 20);

}
h6,.h6,.fs-6{
    font-size: $h6;
    line-height: calc(24 / 16);

}

.container{
    width: 100%;
    max-width:1920px;
    margin: auto;
    @include lgDesktop{
        max-width: 1440px;
    }
    @include smDesktop{
        max-width: 1200px;
    }
    @include pad{
        max-width: 992px;
    }
    @include landscapeMobile{
        max-width:768px;
    }
    @include portraitMobile{
        max-width:576px;
    }
}

a{
   text-decoration: none;
   display: inline-block ;
   color: $primary900;
}

ul,li{
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}
p{
    color: $primary700;
}
header,main,footer{
    width: 100%;
}


//global-setting ===================================================
h2{
    color: $primary700;
    padding: 200px 0 80px 0;
    text-align: center;
    position: relative;
    &::before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right:16px;
        width: 100px;
        height: 6px;
        background-image: url(./media/decos/title\ deco-left-lg.png);
        @include portraitMobile{
            max-width: 40%;
        }
    }
    &::after{
        content:'';
        display: inline-block;
        vertical-align: middle;
        margin-left:16px;
        width: 100px;
        height: 6px;
        background-image: url(./media/decos/title\ deco-right-lg.png);
        @include portraitMobile{
            max-width: 40%;
        }
    }
    @include smDesktop(){
        padding: 200px 0 ;
    }
    @include pad{
        padding: 120px 0 ;
    }
    @include landscapeMobile{
        font-size:$h3;
    }
}

.disable{
    display: none;
}
.active{
    display: block;
}

//nav-bar ==========================================================

nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 32px 0;
    justify-content: space-around;
    border-bottom: 1px solid $primary200;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #fff;
    @include landscapeMobile{
        padding: 16px 0 ;
        justify-content: space-between;
        // position: relative;
    }
    @include portraitMobile{
        padding:12px;
    }
    
    ul{
        display: flex;
        gap: 40px;
        &.menu{
            @include landscapeMobile{
                flex-direction: column;
                position: absolute;
                background-color: #fff;
                width: 100%;
                left: 0;
                top: 78px;
                align-items: center;
                gap: 24px;
                padding: 40px 0;
                border-top: 1px solid $primary200;
                display: none;
            }
        }
    }
    .nav-li:hover{
        font-weight: 700;
        transition: 0.5s font-weight;
    }
    .nav-li.active{
        font-weight: 700;
        position: relative;
        padding: 2px 8px;
       &::before {
        content: "";
        position: absolute;
        inset: 0;
        border: 1px solid #919191;
        mask: conic-gradient(at 8px 8px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0 / calc(100% - 8px) calc(100% - 8px), linear-gradient(#000 0 0) content-box;
        }
    }
    .logo{
        width: 120px;
        height: 54px;
        background-image: url(./media/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 312px;
        @include smDesktop{
            left:200px;
        }
        @include pad{
            left:80px;
        }
        @include landscapeMobile{
            position: static;
        }
    }
    .hamburger{
        display: none;
        @include landscapeMobile{
            display: block;
            width: 40px;
            height: 40px;
            background-image: url(./media/decos/google\ material\ icon-2.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .close{
        @include landscapeMobile{
            display: block;
            width: 40px;
            height: 40px;
            background-image: url(./media/decos/google\ material\ icon-3.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
};

@keyframes fadeIn{
    0%{
        filter: blur(4px);
    }
    50%{
        filter: blur(2px);  
    }
    100%{
        filter: blur(0px);
    }
}

.menu.nav-active{
    animation: fadeIn 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53) both;
    display:flex;
}

#overlay{
    @include landscapeMobile{
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        z-index:1;
    }
}

//  footer-part ===================================================

footer{
    background-image: url(./media/footer-bg-lg.png);
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include landscapeMobile{
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px 0;
    }
    .footer-left{
        display:flex;
        flex-direction: column;
        @include landscapeMobile{
            align-items: center;
            padding-bottom: 40px;
        }
        .fs-6{
            color: $primary500;
        }
    }
    .logo{
        width: 120px;
        height: 54px;
        background-image: url(./media/logo.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
.footer-links{
    width: 306px;
    height: 72px;
    border-radius: 8px;
    border: 1px solid $primary400;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    color: $primary700;
    &.footer-links-main{
        background-color: $primary900;
        border: none;
        color: $primary50;
        font-weight: 700;
    }

}