// rwd mixins ====================================================
@mixin smDesktop{
    @media(max-width:1440px){
        @content
    }
};

@mixin pad{
    @media(max-width:992px){
        @content
    }
};

@mixin landscapeMobile{
    @media(max-width:768px){
        @content
    }
};
@mixin portraitMobile{
    @media(max-width:576px){
        @content
    }
};
@mixin smDevice{
    @media(max-width:320px){
        @content
    }
};

//global-setting ===================================================

h2{
    color: $primary700;
    padding: 120px 0 80px 0;
    text-align: center;
    &::before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right:16px;
        width: 100px;
        height: 6px;
        background-image: url(./media/decos/title\ deco-left-lg.png);
    }
    &::after{
        content:'';
        display: inline-block;
        vertical-align: middle;
        margin-left:16px;
        width: 100px;
        height: 6px;
        background-image: url(./media/decos/title\ deco-right-lg.png);
    }
}
//nav-bar ==========================================================

nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 32px 312px;
    justify-content: space-around;
    ul{
        display: flex;
        gap: 40px;
    }
    .nav-li.active{
        font-weight: 700;
    }
    .logo{
        width: 120px;
        height: 54px;
        background-image: url(./media/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 312px;
    }
}



// hero-part ===================================================
#hero{
    display: flex;
    align-items: center;
    height: 800px;
    justify-content:flex-end;
    gap:24px ;
    .hero-content{
        display: flex;
        flex-direction: column;
        gap: 24px;
        .fs-6{
            color: $primary400;
        }
        span{
            position: relative;
            &::after{
                content:'';
                display: inline-block;
                width: 120px;
                height: 8px;
                background-image: url(./media/decos/mark.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
        
    }
    .hero-img{
        width: 60%;
        height: 100%;
        background-image: url(./media/hero-lg.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}


.media{
    width:56px ;
    height: 56px;
    &.media-ig{
        background-image:url(./media/decos/instagram.png);
    }
    &.media-fb{
        background-image:url(./media/decos/facebook.png);
    }
    &.media-ytb{
        background-image:url(./media/decos/youtube.png);
    }
}





// works-part=======================================================

#works{
    .container{
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &:nth-child(2){
            background-image: url(./media/homepage-work1-bg.png);
        }
        &:nth-child(3){
            background-image: url(./media/homepage-work2-lg.png);
            flex-direction: row-reverse;
            backdrop-filter: brightness(50%);
            &::after { //遮罩
                position: absolute;
                left: 0;
                content: '';
                width: 50%;height: 100%;
                background-color: rgba(#000,.5);
                z-index: -1;
              }
        }
        &:nth-child(4){
            backdrop-filter: brightness(50%);
            background-image:  url(./media/homepage-work3-bg.png);
            &::after {//遮罩
                position: absolute;
                content: '';
                width: 100%;height: 100%;
                background-color: rgba(#000,.5);
                z-index: -1;
              }
        }
        
    }
    .product{
        :first-child{
            align-self: flex-end;
        }
    }
 }

 .works{
    width: 526px;
    background-color: rgba(225,225,225,0.1);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 40px 24px;
    backdrop-filter: blur(5px);
    h3,h6,p{
        color: $primary50;
    }
    h6{
        padding: 8px 0 24px 0 ;
        font-weight: normal;
    }
    ul{
        padding-bottom: 40px;
        display:flex;
        gap: 16px;
    }
    .tags{
        padding: 4px 12px;
        width: fit-content;
        background-color: $primary50;
        border-radius: 16px;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid $primary50;
    }
    .btn-primary{
        margin-top: 40px;
        align-self: center;
    }
 }

 .btn{
    background-color: transparent;
    border-radius: 5px;
    padding: 16px 32px;
    &.btn-primary{
        width: fit-content;
        display: flex;
        background-color: $primary900;
    }
}
// service-part ===================================================

#services{
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./media/homepage-services-bg.png);
    .container{
        padding: 80px 0;
        display: flex;
        justify-content: center;
        gap:24px;
    }
    .serve-item{
        width: 306px;
        height: 306px;
        border-radius: 16px;
        display: grid;
        align-content: center;
        justify-items: center;
        background-image: url(./media/service-item-bg.png);
        h3{
            color: $primary50;
        }
    }
    h3{
        color: $primary700;
    }
    a{
        margin-top: 40px;
        p{
            color: $primary50;
        }
    }
}
//articles-part ===================================

#article{
    .swiper{
        width: calc(100% - 614px);
        margin-bottom: 40px;
    }
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    img{
        border-radius: 8px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }

  .article-items{
    h5{
        text-align: left;
        padding: 16px 0;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tags{
        width: fit-content;
        color: $primary700;
        &:first-child{
            padding: 4px 12px;
            border-radius: 50px;
            background-color: $primary200;
        }
    }
  }

    //自訂pagination樣式=================
  .my-swiper-pagination-bullet{
    cursor: pointer;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius:50%;
    background: $primary900;
    opacity: 0.2;
    margin:0 4px;
}
  
.my-swiper-pagination-bullet-active {
    opacity: 1;
    background: $primary900;
}
.my-swiper-pagination{
    margin-top: 40px;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
}

//  footer-part ===================================================

footer{
    background-image: url(./media/footer-bg-lg.png);
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footer-left{
        display:flex;
        flex-direction: column;
    }
    .logo{
        width: 120px;
        height: 54px;
        background-image: url(./media/logo.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
.footer-links{
    width: 306px;
    height: 72px;
    border-radius: 8px;
    border: 1px solid $primary400;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    color: $primary700;
    &.footer-links-main{
        background-color: $primary900;
        border: none;
        color: $primary50;
        font-weight: 700;
    }

}