@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  font-size: 40px;
  line-height: 1.2;
}

h2, .h2, .fs-2 {
  font-size: 32px;
  line-height: 1.2;
}

h3, .h3, .fs-3 {
  font-size: 28px;
  line-height: 1.2;
}

h4, .h4, .fs-4 {
  font-size: 24px;
  line-height: 1.2;
}

h5, .h5, .fs-5 {
  font-size: 20px;
  line-height: 1.2;
}

h6, .h6, .fs-6 {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 576px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000000;
}

ul, li {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

p {
  color: #3B3B3B;
}

header, main, footer {
  width: 100%;
}

h2 {
  color: #3B3B3B;
  padding: 200px 0 80px 0;
  text-align: center;
  position: relative;
}
h2::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 100px;
  height: 6px;
  background-image: url(./media/decos/title\ deco-left-lg.png);
}
@media (max-width: 576px) {
  h2::before {
    max-width: 40%;
  }
}
h2::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
  width: 100px;
  height: 6px;
  background-image: url(./media/decos/title\ deco-right-lg.png);
}
@media (max-width: 576px) {
  h2::after {
    max-width: 40%;
  }
}
@media (max-width: 1200px) {
  h2 {
    padding: 200px 0;
  }
}
@media (max-width: 992px) {
  h2 {
    padding: 120px 0;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

.disable {
  display: none;
}

.active {
  display: block;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 32px 0;
  justify-content: space-around;
  border-bottom: 1px solid #F1F1F1;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #fff;
}
@media (max-width: 768px) {
  nav {
    padding: 16px 0;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  nav {
    padding: 12px;
  }
}
nav ul {
  display: flex;
  gap: 40px;
}
@media (max-width: 768px) {
  nav ul.menu {
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 78px;
    align-items: center;
    gap: 24px;
    padding: 40px 0;
    border-top: 1px solid #F1F1F1;
    display: none;
  }
}
nav .nav-li:hover {
  font-weight: 700;
  transition: 0.5s font-weight;
}
nav .nav-li.active {
  font-weight: 700;
  position: relative;
  padding: 2px 8px;
}
nav .nav-li.active::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #919191;
  -webkit-mask: conic-gradient(at 8px 8px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - 8px) calc(100% - 8px), linear-gradient(#000 0 0) content-box;
          mask: conic-gradient(at 8px 8px, rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - 8px) calc(100% - 8px), linear-gradient(#000 0 0) content-box;
}
nav .logo {
  width: 120px;
  height: 54px;
  background-image: url(./media/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 312px;
}
@media (max-width: 1200px) {
  nav .logo {
    left: 200px;
  }
}
@media (max-width: 992px) {
  nav .logo {
    left: 80px;
  }
}
@media (max-width: 768px) {
  nav .logo {
    position: static;
  }
}
nav .hamburger {
  display: none;
}
@media (max-width: 768px) {
  nav .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(./media/decos/google\ material\ icon-2.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (max-width: 768px) {
  nav .close {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(./media/decos/google\ material\ icon-3.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@keyframes fadeIn {
  0% {
    filter: blur(4px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
.menu.nav-active {
  animation: fadeIn 0.3s cubic-bezier(0.55, 0.09, 0.68, 0.53) both;
  display: flex;
}

@media (max-width: 768px) {
  #overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
  }
}

footer {
  background-image: url(./media/footer-bg-lg.png);
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
  }
}
footer .footer-left {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  footer .footer-left {
    align-items: center;
    padding-bottom: 40px;
  }
}
footer .footer-left .fs-6 {
  color: #919191;
}
footer .logo {
  width: 120px;
  height: 54px;
  background-image: url(./media/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-links {
  width: 306px;
  height: 72px;
  border-radius: 8px;
  border: 1px solid #C1C1C1;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  color: #3B3B3B;
}
.footer-links.footer-links-main {
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
}

#hero {
  display: flex;
  align-items: center;
  height: 800px;
  justify-content: space-between;
  gap: 24px;
}
@media (max-width: 768px) {
  #hero {
    flex-direction: column-reverse;
  }
}
#hero .hero-content {
  padding-left: 312px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#hero .hero-content .fs-6 {
  color: #C1C1C1;
}
@media (max-width: 768px) {
  #hero .hero-content p {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  #hero .hero-content h1 {
    color: #3B3B3B;
  }
}
#hero .hero-content span {
  position: relative;
  z-index: -1;
}
@media (max-width: 768px) {
  #hero .hero-content span {
    display: inline-block;
  }
}
#hero .hero-content span::after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 8px;
  background-image: url(./media/decos/mark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 1440px) {
  #hero .hero-content {
    padding-left: 112px;
  }
}
@media (max-width: 1200px) {
  #hero .hero-content {
    padding-left: 82px;
  }
}
@media (max-width: 768px) {
  #hero .hero-content {
    text-align: center;
    padding: 0 50px;
  }
}
#hero .hero-img {
  width: 60%;
  height: 100%;
  background-image: url(./media/hero-lg.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 768px) {
  #hero .hero-img {
    width: 100%;
    height: 50%;
  }
}

.media {
  width: 56px;
  height: 56px;
}
.media.media-ig {
  background-image: url(./media/decos/instagram.png);
}
.media.media-fb {
  background-image: url(./media/decos/facebook.png);
}
.media.media-ytb {
  background-image: url(./media/decos/youtube.png);
}

#works .container {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  #works .container {
    height: 680px;
  }
}
@media (max-width: 768px) {
  #works .container {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
#works .container:nth-child(2) {
  padding: 0 3rem;
  background-image: url(./media/homepage-work1-bg.png);
}
@media (max-width: 768px) {
  #works .container:nth-child(2) {
    padding: 0;
  }
}
#works .container:nth-child(2) .product {
  align-self: flex-end;
}
@media (max-width: 1440px) {
  #works .container:nth-child(2) .product {
    height: 75%;
  }
}
@media (max-width: 992px) {
  #works .container:nth-child(2) .product {
    height: 65%;
  }
}
@media (max-width: 768px) {
  #works .container:nth-child(2) .product {
    height: 50%;
  }
}
#works .container:nth-child(3) {
  padding: 0 3rem;
  background-image: url(./media/homepage-work2-lg.png);
  flex-direction: row-reverse;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
}
@media (max-width: 1440px) {
  #works .container:nth-child(3) {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  #works .container:nth-child(3) {
    padding: 0;
    flex-direction: column;
  }
}
#works .container:nth-child(3)::after {
  position: absolute;
  left: 0;
  content: "";
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
@media (max-width: 1200px) {
  #works .container:nth-child(3)::after {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #works .container:nth-child(3)::after {
    display: none;
  }
}
#works .container:nth-child(4) {
  padding: 0 3rem;
  -webkit-backdrop-filter: brightness(50%);
          backdrop-filter: brightness(50%);
  background-image: url(./media/homepage-work3-bg.png);
}
@media (max-width: 768px) {
  #works .container:nth-child(4) {
    padding: 0;
  }
}
#works .container:nth-child(4)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
@media (max-width: 1200px) {
  #works .container:nth-child(4) .product {
    height: 50%;
  }
}
@media (max-width: 1200px) {
  #works .container:nth-child(4) .product {
    height: 40%;
  }
}
@media (max-width: 768px) {
  #works .container:nth-child(4) .product {
    padding-top: 40px;
  }
}

.works {
  width: 526px;
  background-color: rgba(225, 225, 225, 0.1);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1440px) {
  .works {
    width: 480px;
  }
}
@media (max-width: 1200px) {
  .works {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .works {
    background-color: #FFFFFF;
    border-radius: 0;
    width: 100%;
    align-items: center;
  }
}
.works h3 {
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .works h3 {
    color: #1E1E1E;
  }
}
.works p {
  color: #FFFFFF;
}
.works h6 {
  color: #FFFFFF;
  padding: 8px 0 24px 0;
  font-weight: normal;
}
@media (max-width: 768px) {
  .works h6 {
    color: #3B3B3B;
  }
}
.works ul {
  padding-bottom: 40px;
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .works ul {
    padding-bottom: 0;
    color: #1E1E1E;
  }
}
.works .tags {
  padding: 4px 12px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFFFFF;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .works .tags {
    background-color: #F1F1F1;
  }
}
.works .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #FFFFFF;
}
@media (max-width: 768px) {
  .works .content {
    align-items: center;
  }
}
.works .btn-primary {
  margin-top: 40px;
  align-self: center;
}

.btn {
  background-color: transparent;
  border-radius: 5px;
  padding: 16px 32px;
}
@media (max-width: 768px) {
  .btn {
    padding: 8px 16px;
  }
}
.btn.btn-primary {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  background-color: #000000;
}

#services {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./media/homepage-services-bg.png);
}
@media (max-width: 992px) {
  #services {
    padding: 40px 0;
  }
  #services h2 {
    padding: 80px 0;
  }
}
#services .container {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 992px) {
  #services .container {
    padding: 0 80px 80px;
  }
}
@media (max-width: 768px) {
  #services .container {
    flex-direction: column;
    align-items: center;
  }
}
#services .serve-item {
  width: 306px;
  height: 306px;
  border-radius: 16px;
  display: grid;
  align-content: center;
  justify-items: center;
  background-image: url(./media/service-item-bg.png);
}
@media (max-width: 1440px) {
  #services .serve-item {
    width: 286px;
    height: 286px;
  }
}
@media (max-width: 1200px) {
  #services .serve-item {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  #services .serve-item {
    width: 200px;
    height: 200px;
  }
}
#services .serve-item h3 {
  color: #FFFFFF;
}
@media (max-width: 992px) {
  #services .serve-item h3 {
    font-size: 24px;
  }
}
#services h3 {
  color: #3B3B3B;
}
#services a {
  margin-top: 40px;
}
#services a p {
  color: #FFFFFF;
}

#article .swiper {
  width: calc(100% - 614px);
  margin-bottom: 40px;
}
@media (max-width: 1440px) {
  #article .swiper {
    width: 80%;
  }
}
@media (max-width: 992px) {
  #article .swiper {
    width: 90%;
  }
}
@media (max-width: 768px) {
  #article .swiper {
    overflow-x: hidden;
    /*讓swiper禁止滑動*/
    pointer-events: none;
  }
}
@media (max-width: 768px) {
  #article .swiper-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
  }
}

.swiper-slide {
  width: 100%;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
}
.swiper-slide img {
  border-radius: 8px;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .article-items {
    min-width: 100%;
    margin: 0;
  }
}
.article-items h5 {
  text-align: left;
  padding: 16px 0;
}
.article-items ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-items .tags {
  width: -moz-fit-content;
  width: fit-content;
  color: #3B3B3B;
}
.article-items .tags:first-child {
  padding: 4px 12px;
  border-radius: 50px;
  background-color: #F1F1F1;
}
@media (max-width: 768px) {
  .article-items h5 {
    font-size: 16px;
  }
  .article-items .tags {
    font-size: 14px;
  }
}

.my-swiper-pagination-bullet {
  cursor: pointer;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000000;
  opacity: 0.2;
  margin: 0 4px;
}
@media (max-width: 768px) {
  .my-swiper-pagination-bullet {
    display: none;
  }
}

.my-swiper-pagination-bullet-active {
  opacity: 1;
  background: #000000;
}

.my-swiper-pagination {
  margin-top: 40px;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 992px) {
  #blog h2 {
    font-size: 24px;
  }
}
#blog .more-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #919191;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px) {
  #blog .more-text {
    top: 70%;
  }
}
#blog .container {
  max-width: 1296px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 120px;
  gap: 24px;
  justify-content: center;
}
@media (max-width: 992px) {
  #blog .container {
    padding: 0 24px;
  }
}
@media (max-width: 576px) {
  #blog .container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;
    padding: 0;
    margin-top: 40px;
  }
}
#blog .main-articles {
  max-width: 966px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media (max-width: 576px) {
  #blog .main-articles {
    max-width: 100%;
    width: 100%;
    padding: 24px;
  }
}
#blog .main-articles .article-cover {
  max-width: 306px;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  #blog .main-articles .article-cover {
    max-width: 100%;
  }
}
#blog .main-articles .article-title,
#blog .main-articles .article-text {
  color: #3B3B3B;
}
#blog .main-articles .article-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 576px) {
  #blog .main-articles .article-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
#blog .article-items {
  display: flex;
  gap: 16px;
}
@media (max-width: 992px) {
  #blog .article-items {
    flex-direction: column;
  }
}
#blog .article-items .tag-items {
  display: flex;
  gap: 16px;
  align-items: center;
}
#blog .article-items .tag-items .date {
  color: #5B5B5B;
}
#blog .article-items .tag-items .tags {
  padding: 4px 12px;
  border-radius: 50px;
  background-color: #F1F1F1;
}

#blog #article-menu,
#blog-content #article-menu {
  border-radius: 8px;
  max-width: 306px;
  background-color: #FAFAFA;
}
@media (max-width: 576px) {
  #blog #article-menu,
  #blog-content #article-menu {
    max-width: 100%;
    position: sticky;
    top: 78px;
    white-space: nowrap;
    border-radius: 0;
  }
}
#blog #article-menu ul,
#blog-content #article-menu ul {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 992px) {
  #blog #article-menu ul,
  #blog-content #article-menu ul {
    padding: 40px;
  }
}
@media (max-width: 576px) {
  #blog #article-menu ul,
  #blog-content #article-menu ul {
    flex-direction: row;
    padding: 20px 12px;
    overflow-x: scroll;
  }
  #blog #article-menu ul::-webkit-scrollbar,
  #blog-content #article-menu ul::-webkit-scrollbar {
    display: none;
  }
}
#blog #article-menu ul .active-link,
#blog-content #article-menu ul .active-link {
  color: #1E1E1E;
  text-decoration: underline;
  text-underline-offset: 8px;
}
#blog #article-menu ul p,
#blog-content #article-menu ul p {
  text-wrap: nowrap;
}
#blog #article-menu .fs-5,
#blog-content #article-menu .fs-5 {
  color: #5B5B5B;
  font-weight: 400;
}

#blog-content {
  margin-top: 198px;
}
@media (max-width: 768px) {
  #blog-content {
    margin-top: 80px;
  }
}
#blog-content .container {
  max-width: 1296px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 120px;
  gap: 24px;
  justify-content: center;
  padding: 16px;
}
@media (max-width: 992px) {
  #blog-content .container {
    padding: 0 24px;
  }
}
@media (max-width: 576px) {
  #blog-content .container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    margin-top: 40px;
  }
  #blog-content .container #article-menu {
    order: -1;
    position: sticky;
    z-index: 1;
  }
}

.main-article-block {
  width: 100%;
}
@media (max-width: 992px) {
  .main-article-block {
    padding: 24px;
  }
}
.main-article-block .about {
  display: flex;
  gap: 8px;
}
@media (max-width: 992px) {
  .main-article-block .about {
    justify-content: space-between;
  }
}
.main-article-block .about .fs-6 {
  color: #C1C1C1;
  font-weight: 400;
}
.main-article-block .about .fs-6:first-child::after {
  content: "/";
  margin-left: 8px;
}
@media (max-width: 992px) {
  .main-article-block .about .fs-6:first-child::after {
    content: "";
  }
}
.main-article-block .container {
  flex-direction: column;
  gap: 40px;
}
.main-article-block .article-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 64px;
}
.main-article-block .article-title h3 {
  color: #3B3B3B;
  text-align: center;
}
.main-article-block .article-title p {
  font-size: 24px;
  color: #3B3B3B;
}
.main-article-block .contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 30px;
}
.main-article-block .fs-5 {
  color: #3B3B3B;
}
.main-article-block .img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media (max-width: 768px) {
  .main-article-block .img-grid {
    grid-template-columns: 1fr;
  }
}
.main-article-block .img-grid .img-items {
  width: 100%;
}
.main-article-block .img-grid figcaption {
  text-align: center;
}

.relative-articles {
  display: flex;
  max-width: 1296px;
  width: 90%;
  margin: 0 auto 80px;
  border-top: 1px solid #F1F1F1;
  flex-direction: column;
  padding-top: 80px;
  gap: 40px;
}
.relative-articles .swiper-wrapper {
  max-width: 100%;
  gap: 24px;
}
@media (max-width: 768px) {
  .relative-articles .swiper-wrapper {
    flex-direction: column;
  }
}
.relative-articles .swiper-wrapper .article-items {
  max-width: 416px;
}
.relative-articles .swiper-wrapper .article-items img {
  width: 100%;
  border-radius: 8px;
}

main[data-page=service] #services {
  background-image: none;
  padding: 0;
}

#services-progress {
  color: #FFFFFF;
  background-image: url(./media/process-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-bottom: 120px;
}
#services-progress .progress-items {
  width: 655px;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: #3B3B3B;
  border: 1px solid #919191;
  border-radius: 4px;
}
#services-progress .material-symbols-outlined {
  font-size: 32px;
  color: #5B5B5B;
}
#services-progress .order-num {
  color: #919191;
  font-family: "Tourney", sans-serif;
  font-size: 72px;
}
#services-progress .fs-5 {
  color: #E9E9E9;
}
#services-progress h2 {
  color: #FFFFFF;
}
@media (max-width: 992px) {
  #services-progress {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #services-progress .progress-items {
    width: 80%;
    flex-direction: column;
    gap: 8px;
  }
  #services-progress .progress-items > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
  #services-progress h3 {
    font-size: 24px;
  }
}

#service-price {
  padding-bottom: 120px;
}
#service-price .container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
#service-price .price-items {
  width: 416px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 32px;
  background-color: #FAFAFA;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  gap: 16px;
}
#service-price .price-items h3 {
  color: #5B5B5B;
}
#service-price .price-items p {
  font-size: 32px;
  font-weight: 700;
  color: #1E1E1E;
}
#service-price .price-items p span {
  font-weight: normal;
}
@media (max-width: 1200px) {
  #service-price .price-items h3 {
    font-size: 24px;
  }
  #service-price .price-items p {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  #service-price .container {
    flex-direction: column;
    align-items: center;
  }
  #service-price .price-items {
    width: 70%;
  }
}

#customer-examples {
  background-color: #FAFAFA;
  padding-bottom: 120px;
}
#customer-examples .container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px 24px;
  justify-content: center;
  align-items: center;
}
#customer-examples .examples {
  max-width: 636px;
  display: flex;
  flex-direction: column;
}
#customer-examples .examples img {
  border-radius: 8px;
}
#customer-examples .examples h3 {
  color: #3B3B3B;
  margin: 16px 0 8px 0;
}
#customer-examples .examples p {
  color: #919191;
  margin-bottom: 24px;
}
#customer-examples .examples .tag-items {
  display: flex;
  gap: 16px;
}
#customer-examples .examples .tag-items .tags {
  padding: 4px 12px;
  background-color: #F1F1F1;
  border-radius: 16px;
}
@media (max-width: 768px) {
  #customer-examples .examples {
    width: calc(100% - 24px);
  }
  #customer-examples .examples img {
    width: 100%;
  }
}

#questions {
  padding-bottom: 120px;
}
#questions h4 {
  color: #3B3B3B;
}
#questions .fs-5 {
  color: #5B5B5B;
}
#questions .container {
  max-width: 1076px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
#questions .qa-items {
  width: 526px;
  border-radius: 8px;
  border: 1px solid #E9E9E9;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 1;
}
@media (max-width: 1200px) {
  #questions .container {
    grid-template-columns: 100%;
    place-items: center;
  }
}
@media (max-width: 768px) {
  #questions .qa-items {
    width: calc(100% - 40px);
  }
}

#work .header {
  padding-top: 170px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  gap: 24px;
}
#work .header .title-block {
  position: relative;
}
@media (max-width: 992px) {
  #work .header .title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
#work .header .title-block .h4 {
  margin-bottom: 16px;
  text-align: center;
  color: #1E1E1E;
  font-weight: 400;
}
@media (max-width: 992px) {
  #work .header .title-block .h4 {
    max-width: 300px;
    word-wrap: break-word;
    line-height: 1.5;
  }
}
#work .header .quote {
  width: 72px;
  height: 72px;
  position: absolute;
}
#work .header .quote-left {
  top: -40px;
  left: -90px;
}
@media (max-width: 992px) {
  #work .header .quote-left {
    position: static;
  }
}
#work .header .quote-right {
  right: -60px;
  bottom: -30px;
}
@media (max-width: 992px) {
  #work .header .quote-right {
    display: none;
  }
}
#work .header .deco {
  position: relative;
}
#work .header .deco::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 8px;
  background-image: url(./media/decos/mark.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  bottom: 0;
}
#work .header .exp-block {
  display: flex;
  gap: 40px;
}
@media (max-width: 992px) {
  #work .header .exp-block {
    flex-direction: column;
  }
}
#work .header .exp-block .exp-items {
  text-align: center;
  width: 298px;
}
#work .header .exp-block .exp-items .exp-title {
  color: #5B5B5B;
  font-weight: 400;
  margin-bottom: 8px;
}
#work .header .exp-block .exp-items .exp-title::after {
  content: "";
  margin: auto;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #C1C1C1;
}
#work .header .exp-block .exp-items .exp-content {
  color: #3B3B3B;
}
#work .portfolio {
  margin: 120px auto;
  max-width: 1296px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px 24px;
  justify-content: center;
}
@media (max-width: 992px) {
  #work .portfolio {
    gap: 48px;
    padding: 0 12px;
  }
}
#work .portfolio .portfolio-items {
  max-width: 636px;
}
#work .portfolio .portfolio-items h3 {
  color: #3B3B3B;
}
#work .portfolio .portfolio-cover {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}
#work .portfolio .title-block {
  margin-bottom: 24px;
}
#work .portfolio .title-block .detail {
  margin-top: 8px;
  color: #919191;
}
#work .portfolio .tag-block .tag-items {
  background-color: #F1F1F1;
  border-radius: 50px;
  color: #3B3B3B;
  padding: 4px 12px;
  margin-right: 16px;
}
#work .portfolio .tag-block .tag-items:hover {
  background-color: #3B3B3B;
  color: #F1F1F1;
}
#work .pagination {
  width: -moz-fit-content;
  width: fit-content;
  margin: 72px auto 120px;
}
#work .pagination .pagination-list {
  display: flex;
  gap: 16px;
}
#work .pagination .pagination-tab {
  color: #3B3B3B;
  border-radius: 4px;
  padding: 4px 13px;
  text-align: center;
}
#work .pagination .pagination-tab.active-tab {
  background-color: #1E1E1E;
  color: #FFFFFF;
}
#work .open-dialog {
  margin: auto;
  max-width: 1076px;
  width: 90%;
  border-radius: 16px;
  border: none;
  position: relative;
}
#work .open-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}
#work .open-dialog::-webkit-scrollbar {
  display: none;
}
@media (max-width: 992px) {
  #work .open-dialog {
    max-width: 800px;
  }
}
@media (max-width: 576px) {
  #work .open-dialog {
    max-width: calc(100% - 24px);
  }
}
#work .open-dialog #dialog-close-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  background-image: url(./media/decos/google\ material\ icon-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 32px;
}
@media (max-width: 768px) {
  #work .open-dialog #dialog-close-btn {
    right: 32px;
  }
}
#work .open-dialog h5 {
  color: #3B3B3B;
}
#work .open-dialog .log-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
#work .open-dialog .detail:not(:first-child) {
  color: #5B5B5B;
  font-weight: 400;
}
#work .open-dialog .detail:first-child {
  display: block;
  color: #919191;
  font-weight: 400;
  text-align: center;
}
#work .open-dialog .head-log {
  margin: 40px 0;
  padding: 0 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
#work .open-dialog .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#work .open-dialog .content > p {
  max-width: 532px;
  color: #1E1E1E;
}
@media (max-width: 768px) {
  #work .open-dialog .content {
    flex-direction: column;
    gap: 24px;
  }
}
#work .open-dialog .about {
  padding-left: 24px;
  color: #5B5B5B;
  border-left: 1px solid #C1C1C1;
}
@media (max-width: 768px) {
  #work .open-dialog .about {
    border-left: 0;
    border-top: 1px solid #C1C1C1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
    display: none;
  }
}
#work .open-dialog .about.phone {
  display: none;
  text-align: center;
}
@media (max-width: 768px) {
  #work .open-dialog .about.phone {
    display: flex;
  }
}
#work .open-dialog .about.phone .wrap {
  display: block;
}
#work .open-dialog .main-log {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
#work .open-dialog .top-log, #work .open-dialog .bottom-log {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}
#work .open-dialog .modal-img {
  max-width: 720px;
  width: 90%;
  border-radius: 20px;
}/*# sourceMappingURL=all.css.map */